#technologies {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    span {
        border-bottom: solid 1px black;
        padding-bottom: .5em;
        font-weight: 500;
    }
}

#skill-category {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .category {
        padding-bottom: 1em;
    }

    .title {
        display: block;
        font-weight: 500;
        padding-bottom: .5em;
        color: var(--darkColor);
        border: none;
        font-size: 19px;
    }

    ul {
        display: flex;
        flex-wrap: wrap;       /* Allows items to move to a new line if crowded */
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        gap: 15px 10px;        /* Adds space between rows and items */

        li {
            flex: 0 1 auto;    /* Change this: don't force equal width */
            display: flex;
            align-items: center;
            white-space: nowrap; /* Prevents text from breaking mid-word */

            span {
                font-weight: 300;
                border-bottom: solid 1px black;
                padding-bottom: .5em;
            }
        }
    }
}
