header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1em;
}

.avatar {
    height: 150px;
    border-radius: 50%;
}

#description {
    display: flex;
    flex-direction: column;
}

h1 {
    padding-bottom: .1em;
    text-transform: uppercase;
    font-size: 2.5em;
    color: var(--darkColor);
}

h2 {
    padding-bottom: .5em;
    font-weight: 400;
    font-size: 1.5em;
    color: var(--lightColor);
}

header ul {
    display: flex;
    list-style-type: none;
    padding-bottom: .75em;
}

header ul li {
    padding-right: 2em;
    display: flex;
    align-items: center;
}

header ul li img {
    height: 1em;
    padding-right: .25em;
}

header p {
    font-weight: 200;
    width: 800px;
    line-height: 25px;
}
