header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1em;
}

.avatar {
    height: 150px;
    border-radius: 50%;
}

#description {
    display: flex;
    flex-direction: column;

    @media print {
        padding-right: 10em;
    }
}

h1 {
    padding-bottom: .1em;
    text-transform: uppercase;
    font-size: 2.5em;
    color: var(--darkColor);
}

h2 {
    padding-bottom: .5em;
    font-weight: 400;
    font-size: 1.5em;
    color: var(--lightColor);
}

header ul {
    display: flex;
    gap: .75em;
    list-style-type: none;
    padding-bottom: .75em;
}

header ul li {
    display: flex;
    align-items: center;
}

header ul li span {
    color: var(--lightColor);
    height: 1em;
    padding-right: .25em;
}

header p {
    font-weight: 200;
    width: 800px;
    line-height: 25px;

    @media print {
        width: 700px;
    }
}

.contact {
    display: flex;
    gap: 2.25em;

    @media print {
        justify-content: space-between;

        ul {
            color: var(--lightColor);
            padding-right: 20px;
        }
    }
}
