@media print {
    li {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
}

#languages {
    display: flex;
    gap: 5px;

    span {
        &.name {
            color: var(--darkColor);
            font-weight: 400;
        }

        &.level {
            color: var(--lightColor);
            font-weight: 100;
        }
    }
}
