#job-description .position {
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--darkPurple);
}

#job-description .place-name {
    font-size: 1rem;
    font-weight: 400;
    color: var(--lightPurple);
}

#job-description .period {
    display: block;
    padding-top: .25em;
    padding-bottom: 1em;
}

#job-description ul {
    list-style-position: inside;
}

#job-description ul li {
    padding-bottom: 1em;
    line-height: 25px;
    font-weight: 300;
}
