#root {
  font-family: Rubik, serif;
  max-width: 1280px;
  margin: 0 auto;

  --lightColor: hsl(283, 71%, 43%);
  --darkColor: hsl(290, 44%, 23%);

  --gray: #dbdbdb;
}

.red {
  --lightColor: hsl(0, 71%, 43%);
  --darkColor: hsl(0, 44%, 23%);
}

.orange {
  --lightColor: hsl(35, 90%, 50%);
  --darkColor: hsl(35, 60%, 30%);
}

.yellow {
  --lightColor: hsl(45, 90%, 50%);
  --darkColor: hsl(45, 80%, 35%);
}

.green {
  --lightColor: hsl(130, 71%, 43%);
  --darkColor: hsl(130, 44%, 23%);
}

.blue {
  --lightColor: hsl(220, 71%, 43%);
  --darkColor: hsl(220, 44%, 23%);
}

.pink {
  --lightColor: hsl(320, 71%, 43%);
  --darkColor: hsl(320, 44%, 23%);
}

.purple {
  --lightColor: hsl(283, 71%, 43%);
  --darkColor: hsl(290, 44%, 23%);
}

* {
  padding: 0;
  margin: 0;
}

.ltr {
  direction: ltr;
}

.rtl {
  direction: rtl;
}

