#root {
  font-family: Rubik, serif;
  max-width: 1280px;
  margin: 0 auto;

  --lightColor: hsl(283, 71%, 43%);
  --darkColor: hsl(290, 44%, 23%);

  --gray: #dbdbdb;
}

.red {
  --lightColor: hsl(0, 71%, 43%);
  --darkColor: hsl(0, 44%, 23%);
}

.orange {
  --lightColor: hsl(30, 71%, 43%);
  --darkColor: hsl(30, 44%, 23%);
}

.yellow {
  --lightColor: hsl(62, 71%, 43%);
  --darkColor: hsl(62, 44%, 23%);
}

.green {
  --lightColor: hsl(100, 71%, 43%);
  --darkColor: hsl(100, 44%, 23%);
}

.blue {
  --lightColor: hsl(210, 71%, 43%);
  --darkColor: hsl(210, 44%, 23%);
}

.pink {
  --lightColor: hsl(330, 71%, 43%);
  --darkColor: hsl(330, 44%, 23%);
}

.purple {
  --lightColor: hsl(283, 71%, 43%);
  --darkColor: hsl(290, 44%, 23%);
}

* {
  padding: 0;
  margin: 0;
}

.ltr {
  direction: ltr;
}

.rtl {
  direction: rtl;
}

