#skills {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-left: 5%;
    justify-content: flex-end;
}

#block {
    padding-bottom: 1em;
}

#block p {
    padding-top: .5em;
}
