header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2em;
}

img {
    height: 200px;
    border-radius: 50%;
}

#description {
    display: flex;
    flex-direction: column;
}

h1 {
    padding-bottom: .1em;
    text-transform: uppercase;
    font-size: 2.5em;
    color: var(--darkPurple);
}

h2 {
    padding-bottom: .5em;
    font-weight: 400;
    font-size: 1.5em;
    color: var(--lightPurple);
}

ul {
    display: flex;
    list-style-type: none;
    padding-bottom: .75em;
}

ul li {
    padding-right: 1em;
}

header p {
    font-weight: 200;
    width: 700px;
    line-height: 25px;
}
